.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url(../../assets/images/menu_bg1.jpeg);
	background-size: cover;
	background-position: center center;

	form {
		background: var(--white-color);
		padding: 60px;
		border-radius: 8px;
		position: relative;
		width: 100%;
		max-width: 420px;
	}

	h1 {
		text-align: center;
		margin-bottom: 36px;
		font-size: 3rem;
	}
	.help {
		font-size: 1.4rem;
		margin: 24px 0;
		text-align: center;

		a {
			color: var(--primary-color);
			margin-left: 4px;
		}
	}
}
