.wrapper {
    --width: 96px;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    left: 0;
    padding: 0 8px;
    position: -webkit-sticky;
    position: sticky;
    top: 74px;
    width: var(--width);
    z-index: 8;
}

.list li a {
    align-items: center;
    border-radius: 16px;
    color: var(--title-color);
    display: flex;
    flex-direction: column;
    height: 72px;
    justify-content: center;
    margin-top: 4px;
    width: 72px;

    svg {
        font-size: 1.8rem;
    }

    span {
        font-size: 1.1rem;
        font-weight: 600;
        margin-top: 6px;
    }
}

.isActive {
    color: var(--primary-color) !important;
}