.wrapper {
	line-height: 1;
	cursor: pointer;
	border-radius: 8px;
	font-size: 14px;
	font-weight: 600;
	color: var(--title-color);
	padding: 16px 24px;
	width: max-content;
	user-select: none;

	+ .wrapper {
		margin-left: 10px;
	}
	&.disable {
		pointer-events: none;
		opacity: 0.8;
	}
}
.radius {
	border-radius: 28px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: none;
	background-color: transparent;
	&:hover {
		border: 1px solid var(--primary-color);
	}
}
.primary {
	display: inline-block;
	background-color: var(--primary-color);
	color: var(--title-color);
	&:hover {
		background-color: var(--primary-hover);
	}
}
.white {
	display: inline-block;
	background-color: var(--white-color);
	color: var(--title-color);
	&:hover {
		background-color: var(--primary-color);
		color: var(--white-color);
	}
}
.large {
	padding: 1.8rem 2.8rem;
}
.small {
	padding: 1.2rem 16px;
}

.width100 {
	width: 100%;
}
.active {
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color);
}
.noRadius {
	border-radius: 0;
}
