.wrapper {
	flex-shrink: 0;
	left: 0;
	z-index: 8;

	ul {
		display: flex;
		align-items: center;

		li {
			margin-left: 28px;
		}
	}
}
.list li:first-child a {
	// margin-top: 0;
}
.list li a {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--title-color);
	padding: 8px 0;
	font-size: 1.4rem;
	font-weight: 500;
	border: 2px solid transparent;
	transition: background-color ease-in-out 200ms;
}
